<nav class="navbar navbar-black bg-black text-center container-fluid" style="background-color: black;">
  <div class="container">
    <a class="navbar-brand container" href="#">
      <img src="/assets/images/nytlogo.gif" width="300" height="100" margin="0" alt="NYT logo">
    </a>
    <div class="container h2">
      <h2>Mongo Scraper Article Search</h2>
    </div>
    <br>
    <div class="container container-buttons">
      <a href="/saved" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Saved Articles</a>
      <a href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Search for New Articles</a>
      <a href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Clear Article Cache</a>
</nav>
<div class="background-image"> </div>

<div class="container-fluid article-container">
  {{#each articles}}
  <div data-_id="{{this._id}}" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="{{this.url}}">{{this.headline}}</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">{{this.summary}}</div>
  </div>
  {{/each}} {{#unless articles.length}}
  <div class='alert alert-warning text-center'>
    <h4>Darn. Looks like we don't have any new articles.</h4>
  </div>
  <div class="card">
    <div class="card-header text-center">
      <h3>What Would You Like To Do?</h3>
    </div>
    <div class="card-body text-center">
      <h4>
        <a class="scrape-new">Try Scraping New Articles</a>
      </h4>
      <h4>
        <a href="/saved">Go to Saved Articles</a>
      </h4>
    </div>
  </div>
  {{/unless}}
</div>

<footer class="footer">
  <div class="container">
    <p>This project is in no way affiliated with the New York Times</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/index.js"></script>