<nav class="navbar navbar-black bg-black text-center container-fluid" style="background-color: black;">
  <div class="container">
    <a class="navbar-brand container" href="#">
      <img src="/assets/images/nytlogo.gif" width="300" height="100" margin="0" alt="NYT logo">
    </a>
    <div class="container h2">
      <h2>Mongo Scraper Article Search</h2>
    </div>
    <br>
    <div class="container container-buttons">
      <a href="/saved" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Saved Articles</a>
      <a href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Search for New Articles</a>
      <a href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Clear Article Cache</a>
</nav>
<div class="background-image"> </div>